<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            <div class="jumbotron">
                <p class="testImage">
                  I-Mantou I-Mantou
                </p>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        var div = document.querySelector('.jumbotron');
        div.style.backgroundSize = '100%';
        div.style.backgroundImage = "url('https://goo.gl/cfuAor')"
    </script>
</html>
